{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome</h1>
            <p>This is a toolbox to perform pentesting on systems based on the NIST methodology (NIST SP 800-115) and the PTES.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Get started &raquo;</a></p>
        </div>
    </div>

    <h1>Methodology phases</h1>
    <br>
    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-3">
        <h2>Planning</h2><br>
        <p>Description of the phase</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Discovery</h2><br>
        <p>Description of the phase </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Attack</h2><br>
        <p>Description of the phase</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Reporting</h2><br>
        <p>Description of the phase</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    </div>
{% endblock %}